%shadow {
    box-shadow: 4px 4px 5px rgba($black, .25);
}

%underline {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background: rgba($white, .5);
        bottom: -3px;
        left: 0;
        transition: .3s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}